.HelpCenterMain {
  display: flex;
  justify-content: center;
}
.HelpCenterBox {
  width: 65vw;
  height: 25vw;
  background-color: #ffffff;
  border-radius: 16px;
  margin-top: 7vw;
}
.HelpCenterBoxOuter {
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
}
.HelpCenterTitle {
  width: 11vw;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6vw;
  line-height: 150%;
  text-transform: capitalize;
  margin: auto;
  color: var(--globalColorHeader);
}
.HelpCenterSubHeading {
  width: 53vw;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6vw;
  line-height: 150%;
  text-align: center;
  margin: 14px auto;
  color: #44576a;
}
.ghj {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.HelpPropsBox1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.HelpCareerImage2 {
  text-align: center;
  display: flex;
  position: absolute;
}
.helpBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;

  height: 90px;
}
.cross {
  position: absolute;
  left: 92%;
  float: right;
  cursor: pointer;
}
.MissedCall {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 19px;
  text-align: center;
  color: #44576a;
  margin-top: 5.3vw;
}

@media screen and (max-width: 600px) {
  .HelpCenterBoxMobile {
    width: 21.6875rem;
    height: 32rem;
    background-color: #ffffff;
    border-radius: 16px;
    margin-top: 7vw;
  }
  .HelpCenterTitleMobile {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    margin: auto;
    color: #e68d36;
  }
  .HelpCenterSubHeadingMobile {
    width: 20.3125rem;
    height: 5.625rem;
    font-size: 20px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
    margin: 2.125rem auto;
    color: #44576a;
  }
  .HelpPropsBox1Mobile {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 4.375rem;
  }
  .helpBoxMobile {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .MissedCallMobile {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #44576a;
    margin-top: 3.4375rem;
  }
  .HelpCareerImage2Mobile {
    text-align: center;
    display: flex;
    position: absolute;
  }
}
