.toolBarBody{
    /* background-color: white; */
    background: rgba(150, 149, 149, 0.4); 
    /* border: 2px solid #575454; 2px width, solid style, black color */
    padding: 10px;
    width: 60vw;
    display: flex;
    color: black;
    /* grid-template-columns: 1fr 1fr 1fr  1fr; */
 gap: 2.5vw;
    justify-content: space-between;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin-top: 14vw;
    /* border-radius: 50px; */
    box-shadow: 0px 4px 8px rgba(71, 70, 70, 0.3);
}

.vertical-line {
    border-left: 1px solid #aca7a7; /* 1px width, solid style, black color */
    height: 100%; /* Full height of the grid items */
    margin: 0 10px; /* Adjust the margin as needed */
  }

  .gridItems{
    display: flex;
    justify-content: center;

  }

  .toolbarContents{
    display: flex;
    flex-direction: column; 
  
    justify-content: center;
  }

  .toolBarIcon{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .toolBarBookButton{
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
    background-color: orange;
    color: white;
  }